.navbar-brand img {
    max-height: 40px;
}

.nav-link, .btn {
    transition: all 0.3s ease !important;
    margin: 0 4px !important;  /* Espaçamento aumentado */
}

.nav-link:hover, .btn:hover {
    filter: brightness(90%);
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbar-nav {
    gap: 8px;  /* Espaço extra entre os itens */
}

body {
    background-color: #0B8CBF;
}

/* Alinhamento do formulário */
.form-container {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}

/* Ajuste dos inputs */
.form-control {
    width: 100%;
}

/* Cor do botão */
.btn-success {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

/* Responsividade para mobile */
@media (max-width: 768px) {
    .row .col-md-6 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* footer */

.hover-yellow:hover {
    color: #F2BB13 !important;
    transition: all 0.3s ease;
  }
  
  footer a:hover {
    text-decoration: underline !important;
  }
  
  footer {
    font-size: 0.9rem;
  }