body {
    background-color: #0B8CBF;
}

.navbar-brand img {
    max-height: 40px;
}

.nav-link, .btn {
    transition: all 0.3s ease !important;
    margin: 0 4px !important;  /* Espaçamento aumentado */
}

.nav-link:hover, .btn:hover {
    filter: brightness(90%);
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbar-nav {
    gap: 8px;  /* Espaço extra entre os itens */
}


@media (max-width: 767px) {
    .btn-custom {
        margin-right: 10px;
        }
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


/* footer */

.hover-yellow:hover {
    color: #F2BB13 !important;
    transition: all 0.3s ease;
  }
  
  footer a:hover {
    text-decoration: underline !important;
  }
  
  footer {
    font-size: 0.9rem;
  }